
<div *ngIf="garantia">
    <h2><span jhiTranslate="jhdemoApp.garantia.detail.title">Garantia</span> {{garantia.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhdemoApp.garantia.titulo">Titulo</span></dt>
        <dd>
            <span>{{garantia.titulo}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.garantia.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{garantia.descripcion}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.garantia.vigenciaMeses">Vigencia Meses</span></dt>
        <dd>
            <span>{{garantia.vigenciaMeses}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.garantia.porcentajeCobertura">Porcentaje Cobertura</span></dt>
        <dd>
            <span>{{garantia.porcentajeCobertura}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'garantia/'+ garantia.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
