
<div *ngIf="administrador">
    <h2><span jhiTranslate="jhdemoApp.administrador.detail.title">Administrador</span> {{administrador.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhdemoApp.administrador.nombre">Nombre</span></dt>
        <dd>
            <span>{{administrador.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.administrador.identificacion">Identificacion</span></dt>
        <dd>
            <span>{{administrador.identificacion}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.administrador.cargo">Cargo</span></dt>
        <dd>
            <span>{{administrador.cargo}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.administrador.telefono">Telefono</span></dt>
        <dd>
            <span>{{administrador.telefono}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.administrador.email">Email</span></dt>
        <dd>
            <span>{{administrador.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'administrador/'+ administrador.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
