
<div *ngIf="supervisor">
    <h2><span jhiTranslate="jhdemoApp.supervisor.detail.title">Supervisor</span> {{supervisor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhdemoApp.supervisor.nombre">Nombre</span></dt>
        <dd>
            <span>{{supervisor.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.supervisor.identificacion">Identificacion</span></dt>
        <dd>
            <span>{{supervisor.identificacion}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.supervisor.cargo">Cargo</span></dt>
        <dd>
            <span>{{supervisor.cargo}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.supervisor.telefono">Telefono</span></dt>
        <dd>
            <span>{{supervisor.telefono}}</span>
        </dd>
        <dt><span jhiTranslate="jhdemoApp.supervisor.email">Email</span></dt>
        <dd>
            <span>{{supervisor.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'supervisor/'+ supervisor.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
